<div class="footer-basic" style="margin-top: 50px;">
    <footer>
      <div class="social container-fluid">
        <a href="https://www.instagram.com/mosa3da"><i class="fab fa-instagram"></i></a>
        <a href="https://www.twitter.com/mosa3da"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/mosa3da"><i class="fab fa-facebook-f"></i></a>
      </div>
    <p class="copyright">Mosa3da © 2022</p>
    </footer>
    </div>