<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
</head>

<body style="background-color: #FEFBF3;">
     <%- include('./includes/navbar.ejs') %>
     
     <div class="container">
     <div class="row mt-5" style="padding-top: 5em;">
          <div style="text-align: center;">
               <%- include("./partials/errorMessages.ejs") %>
           </div>
          <h1 class="lead text-center" style="font-size: 3em; font-weight: 400; color: black;">Change Password</h1>
          <div class="form-group" style="padding: 1em;">
               <div class="col-md-6 m-auto">
                    <form action="/change-password/<%= user.id %> " method="post">
                         <input style=" border-radius:10px;" type="password" name="oldPassword" class="form-control"
                              id="oldPassword" placeholder="Old Password" />
                         <br>
                         <input style=" border-radius:10px;" type="password" name="newPassword" class="form-control"
                              id="newPassword" placeholder="New Password" />
                         <br>
                         <input style=" border-radius:10px;" type="password" name="confirmPassword" class="form-control"
                              id="confirmPassword" placeholder="Confirm New Password" />
                         <br>
                         <div class="text-center">
                              <button type="submit" class="btn btn-primary btn-block"
                                   style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm;">Change
                                   Password
                              </button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>
</body>

</html>