<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/account.css">
  </head>

  <body>
    <%- include('./includes/navbar.ejs') %>
      <div class="container">
        <form action="/add-group-therapy" method="POST">

          <div class="page-content page-container" id="page-content" style="margin-top: 75px">
            <div class="padding">
              
              <h4 class="text-center" style="margin-bottom: 25px;">Add New Group Therapy</h4>
              <div style="text-align: center;">
                <%- include("./partials/errorMessages.ejs") %>
              </div>
              <div class="row container d-flex justify-content-center">
                <div class="col-xl-12 col-md-12">
                  <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">

                      <div class="col">
                        <div class="card-block">
                          <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h4>
                          <div class="row">
                            <div class="col">

                              <div class="row" style="margin-bottom: 30px;">
                                <p class="m-b-10 f-w-600">Room Name</p>
                                <div class="form-group">
                                  <input style=" border-radius:10px;" type="name" id="roomName" name="roomName"
                                    class="form-control" placeholder="Room Name" />
                                </div>
                              </div>

                              <div class="row" style="margin-bottom: 30px;">
                                <p class="m-b-10 f-w-600">Room Therapist</p>
                                <div class="form-group">
                                  <input style=" border-radius:10px;" type="name" id="therapist" name="therapist"
                                    class="form-control" placeholder="Therapist Name" />
                                </div>
                              </div>

                              <div class="row" style="margin-bottom: 30px;">
                                <p class="m-b-10 f-w-600">Room Date</p>
                                <select name="date" class="form-select" style=" border-radius: 10px;">
                                    <option selected id="date" value="Saturday" name="date">Saturday</option>
                                    <option id="date" value="Sunday" name="date">Sunday</option>
                                    <option id="date" value="Monday" name="date">Monday</option>
                                    <option id="date" value="Tuesday" name="date">Tuesday</option>
                                    <option id="date" value="Wednesday" name="date">Wednesday</option>
                                    <option id="date" value="Thursday" name="date">Thursday</option>
                                    <option id="date" value="Friday" name="date">Friday</option>
                                </select>
                              </div>

                              <div class="row" style="margin-bottom: 30px;">
                                <p class="m-b-10 f-w-600">Room Duration</p>
                                <select name="duration" class="form-select" style=" border-radius: 10px;">
                                    <option selected id="duration" value="15 Minutes" name="duration">15 Minutes</option>
                                    <option id="duration" value="30 Minutes" name="duration">30 Minutes</option>
                                    <option id="duration" value="45 Minutes" name="duration">45 Minutes</option>
                                    <option id="duration" value="60 Minutes" name="duration">60 Minutes</option>
                                </select>
                              </div>

                              <div class="row" style="margin-bottom: 30px;">
                                <p class="m-b-10 f-w-600">Room Time</p>
                                <select name="time" class="form-select" style=" border-radius: 10px;">
                                    <option selected id="time" value="3" name="date">3 PM</option>
                                    <option id="time" value="6" name="time">6 PM</option>
                                    <option id="time" value="9" name="time">9 PM</option>
                                </select>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          


          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block"
              style="background-color: #79B4B7; border-color: #79B4B7; border-radius: 50px; font-size: 1em; padding-right: 1cm; padding-left: 1cm; margin-top: 10px;">Add Room</button>
          </div>

        </form>
      </div>



  </body>

  </html>