<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body style="background-color: #FEFBF3;">
  <%- include('./includes/navbar.ejs') %>

      <div style=" margin-top: 40px">
        <div class="container" style="display: flex; justify-content: center;; gap: 20px;">
            
          <div class="card" style="width: 200px; height: 200px; background-color: aqua;">Card</div>
          <img src="http://placekitten.com/g/500/300" alt="banner" />
        </div>
        
      </div>

      
</body>
</html>