body {
     background-color: #FEFBF3;
     padding-top: 65px;
     text-align: center;
}
.container-fluid{
     position: relative;
}

.main-img {
     position: absolute;
     right: 0;
     width: auto;
     height: 800px;
     object-fit: cover;
     object-position: 50% 50%;
     border-radius: 0 0 0 300px;
}

.main-card {
     width: 450px;
     height: 800px;
     background-color: #F8F0DF;
     position: absolute;
     left: 0px;
     border-radius: 0 0 300px 0;
     padding: 1%;
}

.inner-card {
     border: 2px solid #D7D0C4;
     border-radius: 0 0 300px 0;
     padding: 15% 15% 55%;
}

.logo-img {
     width: 130px;
     height: 130px;
}

.inner-card-element {
     margin-bottom: 2.5rem;
}

p:last-child {
     color: #808080;
     word-spacing: 5px;
     line-height: 2;
}

.get-started-btn {
     background-color: #79B4B7;
     border-color: #79B4B7;
     border-radius: 50px;
     font-size: 1em;
     padding-right: 1cm;
     padding-left: 1cm;
}

#footer{
     margin-top: 70%;
}

.social-icon {
     margin: 20px 10px;
}

/* @media (max-width: 1028px) {

     #title {
          text-align: center;
     }

     .title-image {
          position: static;
          transform: rotate(0);
     }
} */