body {
     background-color: #FEFBF3;
     padding-top: 65px;
     text-align: center;
     width: 100%;
     height: 100%;
     margin: 0px;
     overflow-x: hidden;
}
.image{
     display: flex;
     justify-content: flex-end;
}
.main-img {
     
     width: 100%;
     height: 70vh;
     object-fit: cover;
     object-position: 50% 50%;
     border-radius: 0 0 0 300px;
     overflow: hidden;
}

.main-card {
     width: 100%;
     /* height: 70vh; */
     background-color: #F8F0DF;
     border-radius: 0 0 300px 0;
     padding: 2%;
}

.inner-card {
     height: 70vh;
     border: 2px solid #D7D0C4;
     border-radius: 0 0 300px 0;
     padding: 5% 20%;
}

.logo-img {
     width: 130px;
     height: 130px;
}

.inner-card-element {
     margin-bottom: 2.5rem;
}

.inner-card-p {
     color: #808080;
     word-spacing: 5px;
     line-height: 2;
     
}

.get-started-btn {
     background-color: #79B4B7;
     border-color: #79B4B7;
     border-radius: 50px;
     font-size: 1em;
     padding-right: 1cm;
     padding-left: 1cm;
}


/* testing */

.container-fluid {
     padding: 0;
}

@media (max-width: 1510px) and (min-width: 1030px){
     .inner-card-p{
          display: none;
     }
}

@media (max-width: 1028px) {
     .inner-card-p{
          display:block;
     }

     .main-img {
          display: none;
     }

     .main-card {
          width: 100%;
          border-radius: 0;
     }

     .inner-card {
          border-radius: 0;
     }
}